<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수평 Navigation</title>

    <style>
        nav {
            position: sticky;
            top : 0;
        }
        nav li {
            float : left;
        }
        nav li a {
            display: block;
            color : white;
            text-decoration: none;
            padding : 14px 16px;
        }
        nav li:hover {
            background-color: #44aa55;
        }
        ul {
            list-style-type: none;
            padding : 0;
            margin : 0;
            overflow : hidden;
            background-color: #333;
        }
        .dropdownContent {
            display: none;
            position: absolute;
            background-color: #333;
            width: 100px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .dropdownContent a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        .dropdown {
            display: inline-block;
        }
        .dropdown:hover .dropdownContent {
            display : block;
        }
    </style>
</head>
<body>
    <header>
        <h2>아래로 스크롤</h2>
        <p>sticky효과를 보려면 아래로 드래그 하세요.</p>
    </header>
    <nav>
        <ul>
            <li><a href = "#">Home</a></li>
            <li><a href = "#">News</a></li>
            <li class = "dropdown">
                <a href = "#">Dropdown</a>
                <div class = "dropdownContent">
                    <a href = "#">Link1</a>
                    <a href = "#">Link2</a>
                    <a href = "#">Link3</a>
                </div>
            </li>
            <li><a href = "#">About</a></li>
        </ul>
    </nav>
    <section>
        <h3>수평 메뉴 sticky 효과</h3>
        <p>
            <strong>Note : </strong> 메뉴 바는 스크롤 위치에 도달하면 상단에 고정됩니다.
        </p>

        <p>대법관은 대법원장의 제청으로 국회의 동의를 얻어 대통령이 임명한다. 국무총리는 국회의 동의를 얻어 대통령이 임명한다. 행정각부의 설치·조직과 직무범위는 법률로 정한다. 국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를 유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의 조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수 있다. 모든 국민은 언론·출판의 자유와 집회·결사의 자유를 가진다. 광물 기타 중요한 지하자원·수산자원·수력과 경제상 이용할 수 있는 자연력은 법률이 정하는 바에 의하여 일정한 기간 그 채취·개발 또는 이용을 특허할 수 있다. 국가는 평생교육을 진흥하여야 한다. 체포·구속·압수 또는 수색을 할 때에는 적법한 절차에 따라 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 다만, 현행범인인 경우와 장기 3년 이상의 형에 해당하는 죄를 범하고 도피 또는 증거인멸의 염려가 있을 때에는 사후에 영장을 청구할 수 있다. 모든 국민은 행위시의 법률에 의하여 범죄를 구성하지 아니하는 행위로 소추되지 아니하며, 동일한 범죄에 대하여 거듭 처벌받지 아니한다.</p>
    </section>
</body>
</html>
