<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>width & height</title>

    <style>
        div {
            height : 200px;
            max-width : 900px;
            background-color: powderblue;
            margin : auto;
        }
    </style>
</head>
<body>
    <h2>요소의 최대 너비 설정</h2>
    <div>이 div 요소의 높이는 100px이고, 최대 너비는 900px 입니다.</div>
    <p>브라우저 창의 크기를 조절하여 효과를 확인하세요.</p>
</body>
</html>
