<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outline</title>

    <style>
        p.sample1 {
            border : 2px solid black;
            outline : 10px solid lightgreen;
            margin : auto;
            padding : 20px;
            text-align : center;
        }

        p.sample2 {
            margin : 30px;
            border : 1px solid black;
            outline : 1px solid red;
            outline-offset: 15px;
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h2>CSS outline</h2>
    <p class = "sample1">이 요소에는 2px의 검은색 border와 너비가 10px인 녹색 
        outline이 있습니다.</p>

    <hr>
    <h2>outline-offset</h2>
    <p class = "sample2">이 문단에는 border 바깥쪽에 15px에 outline이 있습니다.</p>
</body>
</html>
