<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>속성 선택자</title>

    <style>
        a {
            color : black;
            text-decoration: none;
        }
        a[target] {background-color: yellow;}
        a[target= "_blank"] {color : red;}
        a[title~= "네이버로"] {border : 5px solid green;}

        [class |= "top"] {background-color: yellow;}
        [class ^= "top"] {color : red;}
        [class $= "Content"] {border : 5px dotted green;}
        [class *= "te"] {font-style : italic;}
    </style>
</head>
<body>
    <h1>속성 선택자</h1>
    <h2>[attribute] 선택자</h2>
    <p>target 속성이 있는 링크는 노란색 배경을 갖습니다.</p>
    <p>target = "_blank"가 포함된 링크는 문자색이 빨간색 입니다.</p>

    <a href= "https://www.naver.com" title = "네이버로 이동">naver.com</a>
    <a href= "https://www.daum.net" target = "_blank">daum.net</a>
    <a href= "https://www.google.com" target = "_top">google.com</a>

    <hr>
    <h2>[attribute] 선택자</h2>
    <p>"top"와 같이 단독으로 사용되거나 "top-text"와 같은 하이폰(-)이 뒤에 오는 단어와 일치하는 요소는 노란색 배경을 갖습니다.</p>
    <p>class 속성값이 "top"으로 시작하는 요소의 글자색은 빨간색.</p>
    <p>class 속성값이 "Content"로 끝나는 요소의 테두리 색은 녹색.</p>
    <p>class 속성값이 "te"가 일부 포함된 요소는 이텔릭체.</p>

    <h3 class = "top">Welcome</h3>
    <p class = "top-text">Hello World!</p>
    <p class = "top-Content">Are you learning css?</p>
    <p class = "test-Content">This is some text in a paragraph</p>
</body>
</html>
