<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>양식</title>

    <style>
        * {box-sizing: border-box;}

        input,
        button {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
        }

        input {
            border: 2px solid red;
            border-radius: 4px;
            outline: none;
        }

        input:focus {
            background-color: aliceblue;
        }

        .form2 { /* border: none이  border-bottom보다 아래에 있다면 초록선도 사라진다. */
            border: none;
            border-bottom: 2px solid green;
            border-radius: 0;
            outline : none;
        }

        button {
            background-color: #33bb88;
            color: white;
        }

        input[type = "search"] {
            border: 2px solid #cccccc;
            background-repeat: no-repeat;
            background-image: url("./img/122932.png");
            background-position: 10px 10px;
            padding-left: 40px;
            width: 130px;
            background-size: 15%;
            transition: width 0.4s ease-in-out; /* 애니메이션이 1초의 속도동안 적용된다. */
        }

        input[type = "search"]:focus { /* 애니메이션 효과 */
            width: 100%;
        }

    </style>
</head>
<body>
    <h1>Form 서식</h1>

    <form action = "Handler.html">
        <label for = "txtName">이름</label>
        <input types = "text" id = "txtName" name = "name">
        <label for = "txtAddr">주소</label>
        <input type = "text" id = "txtAddr" name = "address">
    </form>
    
    <form action = "Handler.html">
        <label for = "txtName">이름</label>
        <input class = "form2" types = "text" id = "txtName2" name = "name">
        <label for = "txtAddr">주소</label>
        <input class = "form2" type = "text" id = "txtAddr2" name = "address">
        <button>전송</button>
    </form>

    <hr>
    <h2>아이콘이 있는 입력 필드</h2>
    <form>
        <input type = "search" name = "search" placeholder="검색....">
    </form>
</body>
</html>
