<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>반응형 폼</title>

    <style>
	* {box-sizing: border-box;}

	article {
	    background-color: #cccccc;
	    border-radius: 5px;
	    padding: 12px;
	}

	input,
	select,
	textarea {
	    width: 100%;
	    padding: 12px;
	    border: 1px solid #cccccc;
	    border-radius: 4px;
	    resize: vertical;
	}

	label {
	    width: 100%;
	    text-align: right;
	    right: 0;
	    display: inline-block;
	    padding: 12px 32px 12px 0;
	}

	button {
	    float: right;
	    padding: 12px 20px;
	    background-color: green;
	    color: white;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	    margin-top: 12px 20px;
	}

	button:hover {
	    background-color: blue;
	}

	.co125 {
	    float: left;
	    width: 25%;
	    margin-top: 6px;
	}

	.co175 {
	    float: left;
	    width: 75%;
	    margin-top: 6px;
	}

	.row::after {
	    content : "";
	    clear: both;
	    display: table;
	}

	@media screen and (max-width: 768px) {
	    .co125,
	    .co175 {
		width: 100%;
		margin-top: 0;
	    }

	    button {
		width: 100%;
	    }

	    label { /* 창 크기가 줄어들었을때 왼쪽으로 텍스트가 움직이도록 */
		text-align: left;
	    }
	}
    </style>
</head>
<body>
    <h1>반응형 폼</h1>
    <p>효과를 보려면 브라우저 창의 크기를 조정하세요. 화면 너비가 768px 미만인 경우 두 개의 열이 서로 옆이 아닌 서로 위에 쌓이도록 합니다.</p>

    <article>
	<form action = "handler.html">
	    <div class = "row">
		<div class = "co125">
		    <label for = "txtName">이름</label>
		</div>
		<div class = "co175">
		    <input type = "text" id = "txtName" name = "name" placeholder="이름 입력....">
		</div>
	    </div>

	    <div class = "row">
		<div class = "co125">
		    <label for = "email">이메일</label>
		</div>
		<div class = "co175">
		    <input type = "email" id = "email" name = "email" placeholder="이메일 입력....">
		</div>
	    </div>

	    <div class = "row"></div>
		<div class = "co125">
		    <label for = "selNation">국가</label>
		</div>
		<div class = "co175">
		    <select id = "selNation" name = "nation">
			<option value = "USA">미국</option>
			<option value = "UK">영국</option>
			<option value = "KOREA">대한민국</option>
		    </select>
		</div>
	    </div>

	    <div class = "row"></div>
		<div class = "co125">
		    <label for = "taContent">내용</label>
		</div>
		<div class = "co175">
		    <textarea id = "taContent" name = "content" placeholder="내용 입력..." style = "height: 200px;"></textarea>
		</div>
	    </div>
	    <div class = "row"></div>
	    <button type = "submit">전송</button>
	</form>
    </article>
</body>
</html>
