<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>링크</title>

    <style>
        a {
            padding : 14px 25px;
            color : black;
            text-align: center;
            text-decoration: none;
            border : 2px solid green;
            display : inline-block;
        }
        a:hover,
        a:active {
            color : white;
            background-color: green;
        }
    </style>
</head>
<body>
    <h2>상태에 따른 링크 스타일 지정</h2>
    <p>
        <a href = "./handler.html">링크1 입니다.</a>
        <a href = "./handler.html">링크2 입니다.</a>
    </p>
</body>
</html>
