<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>표</title>

    <style>
        .divTable {overflow-x : auto;}
        table {
            width : 100%;
            border-collapse: collapse;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}
        th, td {
            padding : 8px;
        }
    </style>
</head>
<body>
    <h2>반응형 표</h2>
    <p>반응형 테이블은 화면이 너무 작아 전체 내용을 표시할 수 없는 경우 가로
        스크롤 막대를 표시 합니다.
    </p>
    <p>
        반응형 테이블을 만들려면 table 요소 주변에 overflow-x : auto를 사용하여 
        컨테이너 요소 &lt;div&gt;에 추가됩니다.
    </p>
    <div class = "divTable">
        <table>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
            <th>Points</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
            <td>94</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td>
            <td>67</td> 
            <td>67</td>
            <td>67</td>
          </tr>
        </table>
      </div>
</body>
</html>
