<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        div.imageBox {
            float : left;
            width : 120px;
            border : 1px solid gray;
            padding : 6px;
            margin : 4px;
        }
        div.imageBox img {
            width : 100%;
        }
    </style>
</head>
<body>
    <h3>display : none과 visibility : hidden의 차이점</h3>
    <p>visibility : hidden은 요소를 숨기나 레이아웃의 공간은 유지한다.</p>
    <p>display : none은 요소를 숨기며, 어떠한 공간도 남기지 않습니다.</p>

    <div class = "imageBox" id = "imageBox1">
        Box1<br>
        <img src = "./img/img_5terre.jpg" alt = "이탈리"><br>
        <button type = "button" onclick = "removeImage()">제거</button>
    </div>

    <div class = "imageBox" id = "imageBox2">
        Box1<br>
        <img src = "./img/img_forest.jpg" alt = "숲"><br>
        <button type = "button" onclick = "hiddenImage()">숨기기</button>
    </div>

    <div class = "imageBox">
        Box1<br>
        <img src = "./img/img_lights.jpg" alt = "오로라"><br>
        <button type = "button" onclick="showAllImage()">초기화</button>
    </div>

    <script>
        function removeImage() {
            document.getElementById("imageBox1").style.display = "none";
        }

        function hiddenImage() {
            document.getElementById("imageBox2").style.visibility = "hidden";
        }

        function showAllImage() {
            document.getElementById("imageBox1").style.display = "block";
            document.getElementById("imageBox2").style.visibility = "visible";
        }
    </script>
</body>
</html>
