<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        div {
            border : 3px solid #77aa22;
            margin : 20px auto;
        }
        div.ex1 {width : 500px;}
        div.ex2 {max-width : 500px;}
    </style>
</head>
<body>
    <h2>max-width 속성</h2>
    <div class = "ex1">이 div요소의 width는 500px 입니다.</div>
    <div class = "ex2">이 div요소의 max-width는 500px 입니다.</div>
    <p>참고 : 창의 크기를 500px 미만으로 하여 확인하세요.</p>
</body>
</html>
