<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>overflow 속성</title>

    <style>
        div {
            width : 200px;
            height : 70px;
            border : 1px solid black;
            background-color: coral;
            float : left;
            margin : 10px;
        }
        .visible {
            overflow : visible;
        }
        .hidden {
            overflow: hidden;
        }
        .scroll {
            overflow: scroll;
        }
        .auto {
            overflow: auto;
        }

        hr {clear : both;}
    </style>
</head>
<body>
    <h2>Overflow 속성</h2>

    <div class = "visible">
        overflow : visible은 기본값 입니다. 지정된 영역의 크기보다 컨텐츠가 양이 
        많을 경우 넘치는 부분은 잘리지 않고 표시 됩니다.
    </div> 

    <div class = "hidden">
        overflow : hidden은 지정된 영역의 크기보다 컨텐츠가 양이 많을 경우 넘치는 부분은
        숨김처리 합니다.
    </div>

    <div class = "scroll">
        overflow : scroll은 스크롤바를 나타냅니다.
    </div>

    <div class = "scroll">
        overflow : scroll은 기본적으로 가로, 세로 스크롤바는 나타나며 컨텐츠가
        영역보다 적으면 비활성화 되고, 많으면 활성화 되게 합니다.
    </div>

    <div class = "auto">
        overflow : auto는 상대적 입니다. 
    </div>
    
    <div class = "auto">
        overflow : auto는 컨텐츠가 지정된 영역보다 적으면 스크롤바가 나타나지
        않고 넘칠때 스크롤바가 나타난다.
    </div>
    
    <hr>
    <style>
        div.x {
            overflow-x: scroll;
            overflow-y: hidden;
        }
        div.y {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    </style>
    <h2>overflow-x, overflow-y</h2>
    <div class = "x">
        <p style = "width : 400px;">overflow-x : scroll; overflow-y : hidden은 가로방향 스크롤만 활성화 됩니다.</p>
    </div>

    <div class = "y">
        overflow-x : hidden; overflow-y : scroll;은 세로방향 스크롤만 활성화 됩니다.
    </div>
</body>
</html>
