<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {box-sizing: border-box;}
        img {
            display: block;
            width: 33.33%;
            float : left;
            padding : 5px;
        }
        img:hover {opacity : 0.5;}
    </style>
</head>
<body>
    <h1>Opacity</h1>
    <h2>이미지 투명도</h2>
    <p>opacity 속성은 종종 :hover 선택자와 함께 사용되어 마우스가 올라갈 시 불투명도를 
        변경 합니다.</p>
    <div>
        <img src = "./img/img_forest.jpg" alt = "숲">
        <img src = "./img/img_mountains.jpg" alt = "산과 호수">
        <img src = "./img/img_5terre.jpg" alt = "이탈리아">
    </div>
</body>
</html>
